* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    margin-top: 150px;
}

header {
    position: fixed;
    background-color: #ff6900;
    color: white;
    padding: 30px;
    font-weight: bold;
    width: 100%;
    top: 0;
}

.logo-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.hearth {
    position: absolute;
    top: 0;
    right: 0;
}

.discount-label {
    position: absolute;
    bottom: 100px;
}

.logo {
    height: 35px;
    width: 140px;
}

.images-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 60px;
}

.card {
    position: relative;
}

.image-card {
    height: 650px;
    width: 450px;
}

.text-container {}

.brand-text {}

.description-text {
    font-size: 18px;
    font-weight: bold;
}

.prices-container {
    display: flex;
    gap: 8px;
}

.price {
    color: red;
    font-weight: bold;
}

.discount-price {
    text-decoration: line-through;
}